$color-primary: rgb(245, 169, 4);
$color-secondary: rgb(4, 137, 245);
$color-secondary-dark: rgb(4, 108, 245);
$color-white: rgb(245, 245, 245);
$color-black: #000;
$color-grey-dark: rgb(26, 26, 26);
$nav-hover: rgb(253, 194, 0);

